.DS_Store
*.dSYM
*.out
*.out.*
*.prof
.#*

# I often output profile files to this name.

analysis

# Binaries.

weak
tests/test
benches/bench

# Directory for handy utils that aren't worth saving to the repo.

util/*

# Docco directory.

docs/*